{% extends 'base.html' %}
{% load static %}
{% load pagination_tags %}

{% block title %}{{ categor_name }}{% endblock title %}
<title></title>

{% block realty %}

    <style>
#Text_dpsOVMXYZV-IiOcM7tj7W{
            height: auto !important;
        }
.pagination{
    margin-top: -500px;
}
    .templates-object_realty{

    }
.stories-row{
    margin-top: 70px !important;
}

    .inner_content{
    height: {{ heth_block }};

}
    </style>
    <div class="answer_text_categ" >{{ count_get_flats }}</div>
    <div class="tovar_content">
        {% autopaginate get_flats 6 %}
    <div class="inner_content">
            {% for get_flats_s in get_flats %}

            <div class="templates-object-card our_class" style="height: 450px">
                <a href="{% url "flat" %}?id={{ get_flats_s.0 }}" class="templates-object-card__slider">

                    <div><img class="photo_flat" src="{{ MEDIA_URL }}{{ get_flats_s.7 }}" width = "100%" height="255" alt=""></div>
                    <div class="vip_index_realty">{{ get_flats_s.14 }}</div>
            <!-- -->
                <div class="templates-object-card__body " displayname="listItemPrms" style="margin-top: -200px">
                <div>
                    <div class="templates-object-card__title">
                        <span class="templates-object-card__price h1">
                            <span class="templates-object_realty" style="margin-top: 5px;">{{ get_flats_s.6 }}<span class="rub-symbol">
                                <span class="display-none">руб.</span>
                            </span>
                            </span>
                        </span>
                        <div class="templates-object-card__under-price">

                            <span>{{ get_flats_s.3 }}<!--м<sup>2</sup>--></span>
                    </div>

                    </div>
                    <div class="templates-object-card__row templates-object-card__params" ><span>
                        <a href="" target="_blank">
                    <!-- -->{{ get_flats_s.2 }}<!-- -->
                        </a>
                    </span><span>{{ get_flats_s.10 }} м²<!-- квадратура м<sup>2</sup></span><span>2--> <!-- /--><!-- 5--><!-- эт.-->
				</span></div>
				<div class="templates-object-card__row">
				
				   <!-- -->{{ get_flats_s.4 }}<!-- -->, <!-- --> <!-- -->
				  
				  </div>
				  <div class="templates-object-card__row">
							
					<!-- Крымск--><!-- -->{{ get_flats_s.5 }}
			  
					</div>
				  </div>

				</div>
            </div>

                </a>
            {% endfor %}
    </div>
            {% paginate %}
		</div>

{% endblock realty %}